image: nanodeath/godot-docker:latest

stages:
  - build

build:linux:
  stage: build
  script:
    - godot -path <path to engine.cfg> -export_debug "Linux X11" game
  only:
    - master

build:windows:
  stage: build
  script:
    - godot -path <path to engine.cfg> -export_debug "Windows Desktop" game.exe
  only:
    - master

build:macosx:
  stage: build
  script:
    - godot -path <path to engine.cfg> -export_debug "Mac OSX" game.zip
